/* Banner -------------- */

.banner {
  background-color: white;
  max-width: 100%;
  border-collapse: collapse;
  padding-bottom: 15px;
}

.banner__search {
  text-align: right;
}

footer.banner {
  margin: 20px auto;
  border: 1px solid #dddde8;
  padding: 50px 50px 50px 40px;
}
