/* Banner -------------- */

.banner {
  @extend .container;
  max-width: 100%;
  border: $default-border-style;
  border-bottom: none;
  background-color: $color-white;
}

header.banner {
  margin-top: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.banner__search {
  text-align: right;
}

footer.banner {
  margin: 20px auto;
  padding: 50px 50px 50px 40px;
}
