/* Base -------------- */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.428;
  font-size: 1.7rem;
  background: #ffffff url("//s3.amazonaws.com/static.history.state.gov/images/background.gif") repeat-x scroll 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  /*color:#2c6196;*/
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 18px;
}

ul li, ol li {
  margin-bottom: 14px;
}

div, span, p, li {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
}

a,
a:hover,
a:visited,
a:active {
  color: #2c6196;
  transition: color 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
  color: #030361;
}

header {
  background: #ffffff none repeat scroll 0 0;
  border-color: #dddde8;
  border-style: solid;
  border-width: 1px;
  margin-top: 15px;
  padding: 10px 0 20px;
}

dl {
  margin: 1.5em 0 1.5em 0;
}

dl dt {
  font-weight: bold;
}

input {
  height: 20px;
}

/* TODO: Refactor following styles, check markup for alternatives */

#body {
  min-width: 320px;
}
