/* Base -------------- */

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-family: $font-serif;
  line-height: $base-line-height;
  font-weight: $font-normal;
  font-size:   $small-font-size;
  background:  $color-white url("https://static.history.state.gov/images/background.gif") repeat-x scroll 0 0;
  @media screen and (min-width: $screen-xs-min) {
    font-size: $base-font-size;
  }

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-sans;
  font-weight: $font-bold;
  line-height: $heading-line-height;
}

h1, .h1 {
  font-size: $h1-font-size-xs;
  font-weight: $font-bold;
  @media screen and (min-width: $screen-xs-min) {
    font-size: $h1-font-size-sm;
  }
  @media screen and (min-width: $screen-sm-min) {
    font-size: $h1-font-size;
  }
}

h2, .h2 {
  font-size: $h2-font-size-xs;
  @media screen and (min-width: $screen-xs-min) {
    font-size: $h2-font-size-sm;
  }
  @media screen and (min-width: $screen-sm-min) {
    font-size: $h2-font-size;
  }
}

h3, .h3 {
  font-size: $h3-font-size-sm;
  @media screen and (min-width: $screen-sm-min) {
    font-size: $h3-font-size;
  }
}

h4, .h4 {
  font-size: $h4-font-size-sm;
  @media screen and (min-width: $screen-sm-min) {
    font-size: $h4-font-size;
  }
}

h5, .h5 {
  font-size: $h5-font-size-sm;
  @media screen and (min-width: $screen-sm-min) {
    font-size: $h5-font-size;
  }
}

h6, .h6 {
  font-size: $h6-font-size;
  text-transform: uppercase;
}

ul li,
ol li {
  margin-bottom: $margin-vertical-base;
}

div, span, p, li {
  font-family: inherit;
}

a,
a:hover,
a:visited,
a:active {
  color: $color-primary-darker;
  transition: color 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
  color: $color-primary-darkest;
}

input {
  height: 20px;
}

.heading-secondary {
  font-weight: 800;
  text-transform: uppercase;
  color: $color-secondary-darkest;
  font-size: 1.5rem;
  line-height: 1.5;
}

p date {
  display: block;
}

.article-container {
  margin: 0 0 2em 0;
}

/* Table */

.hsg-table-default {
  @extend .table;
  @extend .table-responsive;
  @extend .table-hover;
}

.hsg-table-bordered {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-responsive;
}

/* Lists */
.hsg-list-unstyled {
  @extend .list-unstyled;
  ul {
    list-style-type: inherit;
  }
}

/* Utility Class */
.hsg-block {
  display: block;
}
