/* Base -------------- */

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-family: $font-serif;
  //line-height: 1.428;
  line-height: $base-line-height;
  font-weight: $font-normal;
  font-size:   $base-font-size;
  background:  $color-white url("//s3.amazonaws.com/static.history.state.gov/images/background.gif") repeat-x scroll 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: $font-bold;
  line-height: $heading-line-height;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-bold;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  text-transform: uppercase;
}

ul li,
ol li {
  margin-bottom: $margin-vertical-base;
}

div, span, p, li {
  font-family: inherit;
}

a,
a:hover,
a:visited,
a:active {
  color: $color-primary-darker;
  // color: #2c6196
  transition: color 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
  color: $color-primary-darkest;
}

input {
  height: 20px;
}

.heading-secondary {
  font-weight: 800;
  text-transform: uppercase;
  color: $color-secondary-darkest;
}

p date {
  display: block;
}

.article-container {
  margin: 0 0 2em 0;
}


/* Buttons */

.hsg-link-button {
  @extend .btn;
  @extend .btn-primary;
}