/* Buttons -------------- */

.hsg-link-button {
  @extend .btn;
  @extend .btn-primary;
}

.hsg-badge-number {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: $font-bold;
  font-family: $font-serif;
  line-height: 1;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  background-color: $color-primary;
  border-radius: 10px;
  margin-left: 1rem;
}

.hsg-sort-button {
  @extend .btn;
  @extend .btn-default;
  position: relative;
  float: left;

  i {
    font-size: 1rem;
    margin-left: .2rem;
  }
}
