/* Chart -------------- */

#graph {
    width: 100%;
    height: 400px;
}

.dygraph-title {
    display: none;
    font-size: 75%;
    color: #606060;
    // margin-bottom: 2em;
}

.dygraph-ylabel {
    color: rgb(155, 17, 30);
}

.dygraph-y2label {
    color: rgb(73, 102, 144);
}

.dygraph-axis-label-x {
    color: rgb(73, 102, 144);
}

.dygraph-axis-label-y {
    color: rgb(155, 17, 30);
}

.dygraph-axis-label-y2 {
    color: rgb(73, 102, 144);
}

.dygraph-legend {
    margin-top: 10px;
}

img.dygraph-rangesel-zoomhandle {
    border: unset ;
    padding: unset ;
    -webkit-border-radius: unset ;
    -moz-border-radius: unset ; 
}

.graph-checkboxes {
    margin-top: 2em; 
    margin-left: 2em;

    & label {
        margin-bottom: 0.75rem;
    }
}