/* Footnote styles for displaying on mobile devices */

#footnote-modal .modal-dialog {
    position: relative;
    font-size: 125%;
  }

  #footnote-modal .modal-dialog .modal-content {
    border-radius: 0;
  }

  #footnote-modal .modal-dialog .modal-content .modal-header {
    padding-bottom: 0;
    border: none;
  }
  #footnote-modal #link {
    padding-top: 15px;
  }

  #footnote-modal .modal-dialog .modal-content a.fn-back, .popover-content a.fn-back {
    display: none;
  }

  #footnote-modal.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 30%);
    transform: translate(0, 30%);
  }

  #footnote-modal.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* override default list styling since FRUS footnote labels may contain non-numeric values.
 * by default, browsers only output leading numbers in li/@value, so in value="60a", the "a" was not shown. */
 .footnotes {
    ol {
      list-style: none;
      padding-inline-start: 0px;
      border-collapse: separate;
      border-spacing: 0 $margin-vertical-base;
    }
    li {
      display: table-row;
    }
    li:before {
      content: attr(value)".";
      display: table-cell;
      padding-right: 0.25rem;
      text-align: right;
    }
  }
