/* HSG lists -------------- */
.hsg-list {
    &.hsg-columns__flex {
        margin: 0;
        padding: 0;
        flex: 1 1 auto;
    }

    &__item {
        margin: 0 0 16px;
        padding: 0;
        break-inside: avoid;

        &__row {
            display: flex;
            flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
        }
    }

    &__badge {
        max-width: $badge-width;
        margin-right: 12px;
        margin-left: 0;
        margin-top: 4px;
    }
}

