/* TODO: Sort styles into appropriate components */

#main-nav {
  max-height: 37px;
  height: 37px;
}

#main-nav > .container-fluid {
  padding-left: 0;
}

#person-panel ul,
#gloss-panel ul {
  list-style: none;
  padding-left: 0;
}

#person-panel li,
#gloss-panel li {
  margin-left: .5em;
  text-indent: -0.5em;
}

#faq > ul {
  list-style: none;
}

.gobox {
  line-height: 0.4;
  padding: 7px;
  margin-left: 2px;
}

.float-left {
  float: left;
}

.figure-floated {
  margin: 1em 2em 1em 0;
  text-align: center;
  text-align: -webkit-center;
  min-width: 20%;
}

.heading {
  font-weight: 800;
  text-transform: uppercase;
  color: #911625;
}

.hsg-tag-list {
  @extend .list-unstyled;
  text-indent: -1.5em;
  margin-left: 1.5em;
}

.hsg-font-italic {
  font-style: $font-style-italic;
}

.hsg-status-notice {
  @extend .hsg-font-italic;
  font-size: inherit;
  color: $color-gray;
}

button[disabled],
html input[disabled] {
  cursor: default;
}


[type=checkbox]:disabled + label {
  color: $color-gray-lighter;
}

.hsg-hidden {
  display: none;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hsg-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1px;
}

.hideContent {
  overflow: hidden;
  max-height: 7em;
  height: auto;
}

.showContent {
  height: auto;
}

/* adapted from https://standards.usa.gov/components/labels/ - code at https://github.com/18F/web-design-standards/blob/master/src/stylesheets/elements/_labels.scss */
.hsg-label {
  @extend .section-heading;
  font-family: $font-sans;
  color: $color-white;
  background-color: $color-secondary-darkest;
  border-radius: $label-border-radius;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;

  &:only-of-type {
    margin-right: 0;
  }
}

/* override default list styling since FRUS footnote labels may contain non-numeric values.
 * by default, browsers only output leading numbers in li/@value, so in value="60a", the "a" was not shown. */
.footnotes {
  ol {
    list-style: none;
    padding-inline-start: 0px;
    border-collapse: separate;
    border-spacing: 0 $margin-vertical-base;
  }
  li {
    display: table-row;
  }   
  li:before {
    content: attr(value)".";
    display: table-cell;
    padding-right: 0.25rem;
    text-align: right;
  }
}

/* Bootstrap tooltip customization
/* Override with styles from USWDS
/* https://designsystem.digital.gov/components/tooltip/
 */
.tooltip-inner {
  font-size: 1.65rem !important;
  line-height: 1.6;
  border-radius: 4px;
  padding: 8px !important;
  transition: opacity .08s ease-in-out !important;
  background-color: #1b1b1b;
  color: #f0f0f0;
  width: auto !important;
  max-width: calc(100vw / 2) !important;
}