// Ribbon ---------- //

.ribbon-container {
  @media screen and (min-width: $xs-screen) {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
}

/* https://unindented.org/articles/github-ribbon-using-css-transforms/ */

.ribbon {
  color: $color-white;
  background-color: $color-secondary-darkest;
  font-size: 1em;
  font-weight: $font-bold;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  overflow: hidden;
  border-radius: .25em;
  padding: .2em .5em;;
  display: inline;
  float: right;

  a {
    color: $color-white;
    text-decoration: none;
    font-weight: normal;
    font-family: $font-sans;
    transition: color 0.2s ease 0s;
    &:hover,
    &:active {
      color: $color-secondary-lightest;
    }
  }

  @media screen and (min-width: $xs-screen) {
    /* top right corner */
    position: absolute;
    z-index: 11;
    right: -60px;
    top: 47px;
    padding: 0;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* 45 deg ccw rotation */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;

    a {
      border: 1px solid $color-secondary-light;
      display: block;
      font-weight: bold;
      font-size: 1.4rem;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 1px 0;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      /* shadow */
      text-shadow: 0 0 5px $color-gray-dark;
    }
  }
}
