/* Searchbox -------------- */

// TODO: Refactor confusing wording for class ".searchbox"
// and ID "#searchbox". Each is affecting either wrapper or input element.

input[type=search] {
  box-sizing: border-box;
  -webkit-appearance: none;
}

.searchbox {
  position: relative;
  margin-top: 10px;
}

.searchbox p {
  font-size: 0.825em;
}

// Searchbar in the navigation!
#search-box {
  padding-right: 40px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid $color-primary-darker;
  background: $color-primary-darker;
  width: auto;
  height: 100%;
}

@media (max-width: 767px) {
  .searchbox {
    width: 100%;
  }
  .searchbox .form-group {
    position: absolute;
    top: 22px;
    z-index: 10;
    width: 70%;
  }
  #search-box {
    width: 100%;
    + .search-button {
        border-color: $color-white;
    }
  }
  #search-box.form-control {
    border-color: $color-white;
  }
}

.banner__search {
  text-align: right;
}

// Search results page

.hsg-search-section {
  .pagination {
    margin: 0;
  }
}

.hsg-search-help {
  margin: 0 0 2rem 0;
}

.hsg-search-query {
  color: $color-primary;
}

.hsg-search-result {
  padding: 0 0 4rem 0;
  border-bottom: $default-border-style;
  &:last-of-type {
    border-bottom: none;
  }
}

.hsg-search-result-heading {
  padding-top: 2rem;
  font-size: $h4-font-size;
}

// Search Icon
.hsg-search-button-icon {
  @extend .glyphicon;
  @extend .glyphicon-search;
  padding-right: 0 !important;
  line-height: 1.27em;
}

// Search button in sidebar

.hsg-sidebar-search-btn {
  @extend .btn;
  @extend .btn-default;
  background-color: $color-gray-lightest;
  border-left: none;
}

// Reset button in sidebar

.hsg-sidebar-reset-btn {
  @extend .btn;
  @extend .btn-default;
  background-color: $color-gray-lightest;
  > span {
    top: 2px;
  }
}

// Text in searchbar button
.hsg-search-submit-text {
  position: absolute;
  left: -999em;
  @media screen and (min-width: $xs-screen-min) {
    position: static;
  }
}

.hsg-search-icon {
  @extend .hsg-search-button-icon;
  @media screen and (min-width: $xs-screen) {
    display: none;
  }
}

.hsg-main-search-button {
  float: right;
}
