/* Side Navigation -------------- */

#sections select {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.section-heading {
  font-size: 1em;
  line-height: 1.5;
  @extend .heading-secondary;
}

.hsg-panel {
  @extend .panel;
  @extend .panel-default;
}

.hsg-panel-heading {
  @extend .panel-heading;
}

.hsg-sidebar-title {
  @extend .panel-title;
  @extend .section-heading;
}

.hsg-list-group {
  @extend .list-group;
}

.hsg-list-group-item {
  @extend .list-group-item;
}