.social-sidebar {
  @extend .col-md-4;
  padding: 0 2.5rem;
  @media screen and (min-width: $small-screen) {
    border-left: $default-border-style;
  }
}

.post-list {
  list-style-type: none;
  padding-left: 0;
}

.post {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: $default-border-style;
}

.post:last-child {
  border-bottom: none;
}

.post-body {
  margin-bottom: 0.2em;
}

//.post-body a {
  //margin-left: 0.2em;
  //margin-right: 0.2em;
//}