.social-sidebar {
  border: none;
  h2 {
   margin-left: $margin-horizontal-base;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 0 2.5rem;
    border-left: $default-border-style;
    h2 {
      margin-left: 0;
    }
    section {
      padding-left: 0;
    }
  }
}

.post-list {
  list-style-type: none;
  padding-left: 0;
}

.post {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: $default-border-style;
}

.post:last-child {
  border-bottom: none;
}

.post-body {
  margin-bottom: 0.2em;
}

.post-meta {
  text-align: right;
  font-size: $small-font-size;
  font-family: $font-sans;
  margin-bottom: 0.2em;
}
