/* TEI -------------- */

.tei-head1 {
  padding-top: 1em;
}

.tei-titleStmt4 li {
  margin-bottom: 0;
}

.tei-table1 .tei-cell {
  padding: 8px;
  line-height: 1.42857;
}

.attachment {
    margin-top: 4em;
}

.tei-graphic {
  @extend .img-responsive;
}

// Fix container's spacing for graphics only in /historicaldocuments/frus-history/appendix-a
#appendix-a .tei-figure2,
#appendix-a .tei-figure3 {
  padding-top: 4rem;
}

#appendix-a .tei-figure3 {
  padding-bottom: 4rem;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}

// General unordered tei lists without bullets
.hsg-list {
  list-style-type: none;
  padding-left: 0;
  .hsg-nested-list {
    list-style-type: inherit;
  }
}

// Lists with hanging indents in "persons"
// (https://github.com/HistoryAtState/hsg-shell/issues/259)

.list-person {
  padding-left: 0;
}

#persons {
  .tei-item .tei-item {
    margin-left: 2em;
    text-indent: -2em;
  }
}

// No padding for terms list, because of empty wrapping list
// historicaldocuments/frus1977-80v30/terms

#terms {
  .hsg-nested-list {
    padding-left: 0;
  }
}

// No padding for index list but padding for sub-sub-lists
// historicaldocuments/frus1977-80v30/index

#index {
  .hsg-nested-list{
    padding-left: 0;
    .hsg-nested-list {
      padding-left: 2em;
    }
  }
}

// frus.odd cssClasses for web output:
.hsg-nested-list {
  padding-left: 0;
  list-style-type: inherit;
  font-size: inherit;
}

.hsg-list-default {
  list-style-type: none;
  padding-left: 0;
  font-size: inherit;
}

// list in tei titleStmt for editors,
// hotfix: override wrong odd transformation
.hsg-list-editors {
  font-weight: normal !important;
  list-style-type: none !important;
}

// Font-styles for 'tei:hi' elements
// Override falsely set 'tei-hi1' classes which contain font-weight strong rule!
.font {
  &-italic {
    font-style: italic;
    font-weight: inherit !important;
  }
  &-smallcaps {
    font-variant: small-caps;
    font-weight: inherit !important;
  }
}
