/* TEI -------------- */

.tei-head1 {
  padding-top: 1em;
}

.tei-titleStmt4 li {
  margin-bottom: 0;
}

.tei-table1 .tei-cell {
  padding: 8px;
  line-height: 1.42857;
}

.attachment {
    margin-top: 4em;
}

.tei-graphic {
  @extend .img-responsive;
}

// Fix container's spacing for graphics only in /historicaldocuments/frus-history/appendix-a
#appendix-a .tei-figure2,
#appendix-a .tei-figure3 {
  padding-top: 4rem;
}

#appendix-a .tei-figure3 {
  padding-bottom: 4rem;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}

// Lists with hanging indents in "persons"
// (https://github.com/HistoryAtState/hsg-shell/issues/259)
 
   .list-person {
    padding-left: 0;
   }

#persons {
   .list-person.list {
    padding-left: 0;
     .list-person.list .tei-item {
       margin-left: 2em;
       text-indent: -2em;
     }
   }
}

