# artifacts
build/*
node_modules
resources/css
resources/fonts
resources/scripts/app.all.js
resources/scripts/app.min.js
/templates

# test reports
tests/reports/errorShots/*
tests/reports/junit-reports/*

tests/cypress/screenshots/
tests/cypress/videos/
tests/cypress/downloads/

.DS_Store

plans/

# local properties
local.node-exist.json

# other local files
.*
!.gitignore
!.existdb.json
!.npmrc
!.gitkeep
!.github/
!.releaserc
