# artifacts
build/*
.existdb.json
node_modules
bower_components
resources/css
resources/fonts
resources/scripts/app.all.js
resources/scripts/app.min.js
/templates

# test reports
tests/reports

# local properties
local.node-exist.json
build.properties.local.xml
!build.properties.local.example.xml

# other local files
.idea
.DS_Store
