<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@url@" abbrev="@name@" version="@version@" spec="1.0">
    <title>@title@</title>
    <dependency processor="http://exist-db.org" semver-min="6.2.0"/>
    <dependency package="http://exist-db.org/html-templating" />
    <dependency package="http://expath.org/ns/crypto" version="6.0.1"/>
    <dependency package="http://www.functx.com"/>
    <dependency package="http://existsolutions.com/apps/tei-publisher-lib" version="2.10.1"/>
</package>
