body{
    line-height: 1.428;
    font-size:1.7rem;
    
}

.navbar .collapse.in li, .navbar .collapsing li{
    background:#2c6196;    
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight:700;
  /*color:#2c6196;*/
}
h1{
    font-size: 4rem;
    font-weight: 700;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2rem;
}
h4{
    font-size:1.7rem;
}
h5{
    font-size:1.5rem;
}

h6{
    font-size: 1.3rem;
    text-transform: uppercase;
    /*font-weight: 400;*/
}

div, span, p, li{
    /*font-family: 'Source Sans Pro';*/
    font-family: "Merriweather","Georgia","Times New Roman",serif;
}

ul{
    padding:0;
    list-style:none;
}
ol{
    /*padding:18px;*/
}
ul li, ol li{
    margin-bottom:14px;
}

.navbar li, .navbar span {
  font-family: "Source Sans Pro";
  margin-bottom:0;
}
.navbar-toggle{
    padding:6px 10px;
    margin:6px 12px;
}
.toggle-text{
    vertical-align:text-top;
}

p{
    /*max-width:54rem;*/
    margin-bottom:18px;
}
.navbar{
    background:#2c6196;
}
a, a:hover, a:visited, a:active {
    color:#2c6196;
    transition: color 0.5s ease 0s;
}
a:hover, a:active, a:focus {
    color:#030361;
}

.fa-search{
    font-size:14px;
    line-height: 1.428;

}
.breadcrumb{
    padding:5px 0px;
    font-size: inherit;
}
.breadcrumb li{
  font-family: "Source Sans Pro";
    
}
/*.breadcrumb a{*/
/*    font-size: 1.2em;*/
/*}*/

#content-inner{
    /* max-width:75rem; */
    /*padding-left:10rem;*/
}


.panel{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#sections{
    padding:10px;
}
#sections h2{
    padding-left: 0;
    color:#212121;
    margin-top:20px;
}
#sections ul{
    margin-bottom:20px;
    list-style:none;
    padding:0;
}
#sections ul li{
    padding:10 0 0px 14px;
    /*border-bottom:1px solid;*/
    
}

footer.banner{
    margin:20px auto;
    border:1px solid #dddde8;
    padding:50px 50px 50px 40px;
}
#search-box{
    padding-right:40px;
}

.navigation-top{
    border:none;
}
.page-nav{
    position:fixed;
    font-size:40px;
    top:50%;
}

.page-nav i{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    opacity:0.5;
}

.page-nav a:hover i{
    opacity:1.0;
}

@media (max-width: 992px) {
    /*.navigation-top .nav-prev{*/
    /*    left:5px;*/
        /*background:blue;*/
    /*}*/

    /*.navigation-top .nav-next{*/
    /*    right:10px;*/
    /*}*/
    #content-inner{
        padding-left:0;
    }
    .searchbox{
        width:100%;
    }
    .searchbox .form-group{
        position:absolute;
        top:26px;
        z-index:10;
        width:70%;
    }
    #search-box{
        width:100%;
    }
    .search-button{
        right:0;
    }
    /*#search-box{*/
    /*    position:absolute;*/
    /*    z-index:10;*/
    /*    top:29px;*/
    /*    width:65%;*/
    /*}*/
}

@media (max-width: 768px) {
    .navigation-top .nav-prev{
        /*left:5px;*/
        /*background:yellow;*/
    }

    .navigation-top .nav-next{
        /*right:10px;*/
    }
}


