@import "../../bower_components/bootstrap/less/bootstrap.less";

@baseFont: Georgia, "Times New Roman", Times, serif;
@fontSize: 14px;
@lineHeight: 24px;

@colorHead: #911625;

@backgroundSidebar: #dddde8;
@navbar-height: 37px;

@dropdown-color: #000066;
@dropdown-background: #dddde8;

@grid-float-breakpoint:995px;

@logo-text-color:#030361;
@logo-text-color2:#2f5f8f;

#body{
    min-width:320px;
}

.baseFont {
    font-family: @baseFont;
    font-size: @fontSize;
    line-height: @lineHeight;
}

.heading {
    font-weight: 800;
    text-transform: uppercase;
    color: @colorHead;
}

body {
    .baseFont;
    background:#ffffff url("//s3.amazonaws.com/static.history.state.gov/images/background.gif") repeat-x scroll 0 0;
}

input{
    // padding:0;
    height:20px;
}


header{
    background: #ffffff none repeat scroll 0 0;
    border-color: #dddde8;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    padding: 10px 0 20px;
}

.banner{
    background-color:white;
    max-width:100%;
    border-collapse:collapse;
    padding-bottom:15px;
}
.banner__search{
    text-align:right;
}
.gobox{
    line-height:0.4;
    padding:7px;
    margin-left:2px;
}

.searchbox{
    position:relative;
    margin-top:10px;
}
.searchbox p{
    font-size:0.825em;
}
#search-box{
    padding-right:30px;
}
.search-button{
    position:absolute;
    top:1px;
    right:1px;
    border:none !important;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    background:whitesmoke;
}
.fa-search{
    font-size:16px;
}
.fa.fa-bars{
    font-size:24px;
}
.navbar-toggle{
    padding:5px 10px 0px 12px;
}
.navbar-toggle:hover{
    color:@logo-text-color;
}
.toggle-text{
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 5px;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.navbar{
    // background: #000066 url("//s3.amazonaws.com/static.history.state.gov/images/navbar3.png") repeat-x scroll 0 0;
    // background: url("//s3.amazonaws.com/static.history.state.gov/images/navbar3.png") repeat-x scroll 0 0;
    background:@logo-text-color;
    padding: 0;
    color:white;
    margin-bottom:0;
    min-height:@navbar-height;
}
// @media (max-width: 995px) {
//     .navbar{
//         background:white;
//     }

// }

#main-nav{
    max-height: @navbar-height;
    height:@navbar-height;
}
.navbar .container-fluid{
    height:@navbar-height;
}
.navbar-inner {
    min-height: 0px;
}
.navbar-nav{
    margin-top:-2px;
}
#main-nav > .container-fluid{
    padding-left:0;
}
.navbar-brand, .navbar-nav li a{
    height:@navbar-height;
    line-height:@navbar-height;
    padding-top:0;
    color:white;
}
.navbar-default .navbar-nav > .dropdown.open a{
    background:transparent;
    color:@dropdown-color;
}
.navbar-default .navbar-nav > .dropdown.open .dropdown-menu a:hover{
    background-color:#f3f3f3;
}
.navbar-collapse{
    padding-left:0;
}

.dropdown-menu, .collapsing, .collapse.in{
    background-color:@dropdown-background;
}

.navbar .collapse.in li, .navbar .collapsing li{
    background-color:@logo-text-color;
}

.navbar .dropdown.open .dropdown-menu li{
    background-color:@dropdown-background;
    padding-left:0;

    a{
        color:@logo-text-color;
    }
}


.collapsing li, .collapse.in li{
    padding-left:10px;
    color:@dropdown-color;
}

// .dropdown-menu li{
//     border-bottom:1px solid;
// }

#content{
    background-color:white;
    border-color: #dddde8;
    border-style: solid;
    border-width: 1px;
    padding:10px 0 0;

    .row{
        margin-left:0;
        margin-right:0;
    }

}
#volume {
    .titleStmt1 {
        // margin-top: 0;
        font-size: 1.25em;
        .heading;
    }
}

#sections {
    select {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 0.825em;
        .heading;
    }
}

#person-panel, #gloss-panel {
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-left: .5em;
        text-indent: -.5em;
    }
}

.list-group i {
    margin-right: 1em;
}

#toc, #volume {
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    animation-duration: 400ms;

    h2 {
        background-color: @backgroundSidebar;
        font-size: 1.2em;
        line-height: 1.25;
        margin-bottom: 1.25em;
    }

    .toc-inner ul {
        list-style: none;
        padding-left: 0;
    }

    .toc-inner li {
        margin-left: .5em;
        text-indent: -.5em;
    }

    .highlight {
        background-color: @backgroundSidebar;
    }
}

#content-container {
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    animation-duration: 400ms;
    overflow:auto;

    @media (min-width: 769px) {
        margin-left: 60px;
        margin-right: 60px;
    }

    .note {
        margin-left: .25em;
        font-size: 12px;
        vertical-align: super;
    }

    .footnotes {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid #CCC;
    }

    .popover-content {
        text-indent: 0;
    }

    .popover {
        max-width: 80%;
    }
}

.content {
    .list3 {
        dt {
            float: left;
            display: inline;
        }
        dd {
            margin-left: 3em;
        }
    }
}

.breadcrumb {
    font-size: 85%;
    background-color: transparent;
}

.breadcrumb>li {
    display: inline !important;
}

ol.breadcrumb li:first-child:before {
    content: "" !important;
}

ol.breadcrumb li:before {
    content: "›" !important;
}

.navigation-top {
    margin-bottom: 1em;
    border-bottom: 2px solid #CCC;

    h5 {
        .heading;
        font-size: 1.25em;
        line-height: 1.5;
        padding: 0 10px 10px 0;
        margin-left: 60px;
        margin-right: 60px;
    }

    .page-nav, .page-nave:link, .page-nav:active {
        width: 30px;
        font-size: 20px;
        text-decoration: none;
        color: #ccc;

        @media (min-width: 769px) {
            position: fixed;
            margin: 0;
            width: 60px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-size: 40px;
            text-align: center;
        }
    }

    .nav-next {
        right: 10px;
    }
    .nav-prev {
        left: 10px;
    }
}

/* override bootstrap, which adds top border to each cell. TODO: modify bootstrap base style */
.table > tbody > tr > td {
    border-top: 0;
}

.carousel-caption {
    position: initial;
    z-index: inherit;
    color: inherit;
    text-shadow: inherit;
    left: 15%;
    right: 15%;
}

/* https://unindented.org/articles/github-ribbon-using-css-transforms/ */

.ribbon {
  background-color: #911625;
  overflow: hidden;
  white-space: nowrap;
  /* top right corner */
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
  /* stay on top */
  z-index: 1;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}