.baseFont {
  font-family: Palatino, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
}
.heading {
  font-weight: 800;
  text-transform: uppercase;
  color: #911625;
}
body {
  font-family: Palatino, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff url("//s3.amazonaws.com/static.history.state.gov/images/background.gif") repeat-x scroll 0 0;
}
input {
  height: 20px;
}
header {
  background: #ffffff none repeat scroll 0 0;
  border-color: #dddde8;
  border-style: solid;
  border-width: 1px;
  margin-top: 15px;
  padding: 10px 0 20px;
}
.banner {
  background-color: white;
  max-width: 100%;
  border-collapse: collapse;
  padding-bottom: 15px;
}
.banner__search {
  text-align: right;
  margin-right: 20px;
}
.gobox {
  line-height: 0.4;
  padding: 7px;
  margin-left: 2px;
}
.searchbox p {
  font-size: 0.825em;
}
.navbar {
  background: #000066 url("//s3.amazonaws.com/static.history.state.gov/images/navbar3.png") repeat-x scroll 0 0;
  padding: 0;
  color: white;
  margin-bottom: 0;
  min-height: 37px;
}
#main-nav {
  max-height: 37px;
  height: 37px;
}
.navbar .container-fluid {
  height: 37px;
}
.navbar-inner {
  min-height: 0px;
}
.navbar-nav {
  margin-top: -2px;
}
#main-nav > .container-fluid {
  padding-left: 0;
}
.navbar-brand,
.navbar-nav li a {
  height: 37px;
  line-height: 37px;
  padding-top: 0;
  color: white;
}
.navbar-default .navbar-nav > .dropdown.open a {
  background: transparent;
  color: #000066;
}
.navbar-default .navbar-nav > .dropdown.open .dropdown-menu a:hover {
  background-color: #f3f3f3;
}
.navbar-collapse {
  padding-left: 0;
}
.dropdown-menu {
  background-color: #dddde8;
}
#content {
  background-color: white;
  border-color: #dddde8;
  border-style: solid;
  border-width: 1px;
  padding: 10px 0 0;
}
#content .row {
  margin-left: 0;
  margin-right: 0;
}
#volume .titleStmt1 {
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  color: #911625;
}
#sections select {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
#sections h2 {
  font-size: 0.825em;
  font-weight: 800;
  text-transform: uppercase;
  color: #911625;
}
#person-panel ul,
#gloss-panel ul {
  list-style: none;
  padding-left: 0;
}
#person-panel li,
#gloss-panel li {
  margin-left: .5em;
  text-indent: -0.5em;
}
.list-group i {
  margin-right: 1em;
}
#toc,
#volume {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
}
#toc h2,
#volume h2 {
  background-color: #dddde8;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
#toc .toc-inner ul,
#volume .toc-inner ul {
  list-style: none;
  padding-left: 0;
}
#toc .toc-inner li,
#volume .toc-inner li {
  margin-left: .5em;
  text-indent: -0.5em;
}
#toc .highlight,
#volume .highlight {
  background-color: #dddde8;
}
#content-container {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  overflow: auto;
}
@media (min-width: 769px) {
  #content-container {
    margin-left: 60px;
    margin-right: 60px;
  }
}
#content-container .note {
  margin-left: .25em;
  font-size: 12px;
  vertical-align: super;
}
#content-container .footnotes {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #CCC;
}
#content-container .popover-content {
  text-indent: 0;
}
#content-container .popover {
  max-width: 80%;
}
.content .list3 dt {
  float: left;
  display: inline;
}
.content .list3 dd {
  margin-left: 3em;
}
.breadcrumb {
  font-size: 85%;
  background-color: transparent;
}
.breadcrumb > li {
  display: inline !important;
}
.navigation-top {
  margin-bottom: 1em;
  border-bottom: 2px solid #CCC;
}
.navigation-top h5 {
  font-weight: 800;
  text-transform: uppercase;
  color: #911625;
  font-size: 1.25em;
  line-height: 1.5;
  padding: 0 10px 10px 0;
  margin-left: 60px;
  margin-right: 60px;
}
.navigation-top .page-nav,
.navigation-top .page-nave:link,
.navigation-top page-nav:active {
  width: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #ccc;
}
@media (min-width: 769px) {
  .navigation-top .page-nav,
  .navigation-top .page-nave:link,
  .navigation-top page-nav:active {
    position: fixed;
    margin: 0;
    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
  }
}
.navigation-top .nav-next {
  right: 10px;
}
.navigation-top .nav-prev {
  left: 10px;
}
/* override bootstrap, which adds top border to each cell. TODO: modify bootstrap base style */
.table > tbody > tr > td {
  border-top: 0;
}
